* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
}

nav {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: pink;

        .btn {
            display: flex;
            gap: 3rem;

            button {
            display: flex;
            border: none;
            padding: 1rem;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}

.wrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        display: flex;
        flex-direction: column;
        width: 500px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

footer {
    margin-top: 2rem;
    display: flex;
    justify-items: center;
    justify-content: center;
}
